.header__lang-link {
    padding-right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
    text-decoration-line: none;
    color: #FFFFFF;
}

.header__lang-link:last-child {
    padding-right: 0;
}

@media screen and (max-width: 424px) {
    .header__lang-link {
        font-size: 18px;
        padding-right: 14px;
    }
}