.lead {
    padding: 56px 148px 0;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .lead {
        padding: 48px 122px 0;
    }
}

@media screen and (max-width: 1152px) {
    .lead {
        padding: 48px 48px 0;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        padding: 49px 0 0;
    }
}