.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    position: absolute;
    margin: 0 auto;
    top: 429px;
    left: 0;
    right: 0;
    z-index: 3;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        top: 379px
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        top: 299px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        top: 158px;
    }
}

@media screen and (max-width: 424px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        top: 119px;
    }
}