.place__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    width: auto;
    margin: 0;
    padding-bottom: 26px;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        padding: 0 16px 25px;
        font-size: 16px;
        line-height: 26px;
    }
}