.website__url-heading {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    padding-bottom: 12px;
    margin: 0;
}