.cover {
    width: auto;
    margin: 92px 48px 0;
    position: relative;
}

@media screen and (max-width: 1279px) {
    .cover {
        width: 100%;
        margin: 88px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .cover {

        margin: 66px 0 0;
    }
}