.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    width: 560px;
    margin: 0 auto;
    position: absolute;
    top: 245px;
    left: 0;
    right: 0;
    z-index: 3;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        top: 195px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        top: 64px;
    }
}

@media screen and (max-width: 424px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        top: 33px;
    }
}