.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 90px 48px 24px;
    color: #ffff;
}

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 86px 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 46px;
        margin: 0 auto;
        padding: 64px 16px 24px;


    }
}

@media screen and (max-width: 424px) {
    .footer {
        padding-top: 61px;
    }
}