.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 1.07;
    color: #FFFFFF;
    max-width: 690px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0;
    }
}

@media screen and (max-width: 432px) {}